
  
    <h2 class="text-primary text-center">All Movies</h2>
  <div class="container " >
    <!-- Add Movie Button -->
    <button class="btn btn-success mb-3" (click)="showAddMovieForm = !showAddMovieForm">Add Movie</button>
  
    <!-- Add Movie Form -->
    <div *ngIf="showAddMovieForm">
      <form (ngSubmit)="addMovie()">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" class="form-control" [(ngModel)]="newMovie.title"
            placeholder="Enter the movie title" required>
        </div>
        <div class="form-group">
          <label for="genre">Genre:</label>
          <input type="text" id="genre" name="genre" class="form-control" [(ngModel)]="newMovie.genre"
            placeholder="Enter the movie genre" required>
        </div>
        <div class="form-group">
          <label for="director">Director:</label>
          <input type="text" id="director" name="director" class="form-control" [(ngModel)]="newMovie.director"
            placeholder="Enter the movie director" required>
        </div>
        <div class="form-group">
          <label for="duration">Duration (minutes):</label>
          <input type="number" id="duration" name="duration" class="form-control" [(ngModel)]="newMovie.duration"
            placeholder="Enter the movie duration" required>
        </div>
        <div class="form-group">
          <label for="rating">Rating:</label>
          <input type="number" id="rating" name="rating" class="form-control" [(ngModel)]="newMovie.rating"
            placeholder="Enter the movie rating" required>
        </div>
        <!-- Add other form fields as needed -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  
 <!-- Display Movies -->
<div *ngIf="movies.length > 0 else noMoviesMessage" class="card-deck">
  <div *ngFor="let movie of movies" class="movie-card">
    <div class="card mb-3">
      <div class="card-body" style="background: rgb(194, 227, 180); border-radius: 15px;">

        <img src="../../../assets/{{movie.title}}.jpg" class="card-img-top" alt="Movie Poster"
          style="width: 100%; height: 210px; border-radius: 10px;">

        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">Genre: {{ movie.genre }}</p>
        <p class="card-text">Director: {{ movie.director }}</p>
        <p class="card-text">Duration: {{ movie.duration }} minutes</p>
        <p class="card-text">Rating: {{ movie.rating }}</p>
        <!-- Remove Movie Button by Name -->
        <button class="btn btn-danger" (click)="removeMovieByName(movie)">Remove Movie</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noMoviesMessage>
  <p class="text-center">No movies available.</p>
</ng-template>



  </div>
  