<!-- home-dashboard.component.html -->
<app-header></app-header>
<div class="background-container">
    <div class="container mt-5">
        <h1 class="text-center outlined-heading">Welcome to the Cinemax!</h1>
  
      <div class="button-container mt-3 d-flex justify-content-center">
        <div class="text-center mb-5">
          <img src="../../../assets/User.png" alt="User Image" class="img-fluid" style="max-height: 100px;">
          <button class="btn btn-success mt-3" routerLink="/user-login">User Login</button>
        </div>
  
        <div class="text-center mb-5">
          <img src="../../../assets/Registration.png" alt="Login/Registration Image" class="img-fluid" style="max-height: 100px;">
          <button class="btn btn-info mt-3" routerLink="/user-registration">Registration</button>
        </div>
      </div>
    </div>
  
    <div class="container" style="position: absolute; top: 0; left: 10; margin-top: 1rem;">
      <button class="btn btn-primary mt-3" routerLink="/admin-login">Admin Login</button>
    </div>
  </div>
  