<!-- seat-book.component.html -->

<div class="container col-md-10" *ngIf="show && theatre">
  <div class="card col-xs-1">
    <div class="card-body">
      <h4 class="text-center">Show Details</h4>
      <h5 class="card-title">{{ show.showName }}</h5>
      <p class="card-text">Date and Time: {{ show.showDateTime | date: 'medium' }}</p>
      <p class="card-text">Theatre: {{ show.theatreName }}</p>
      <p class="card-text">Movie: {{ show.movieName }}</p>

      <div *ngIf="theatre.numberOfRows && theatre.numberOfColumns">
        <p class="card-text">Rows: {{ theatre.numberOfRows }}</p>
        <p class="card-text">Columns: {{ theatre.numberOfColumns }}</p>

       
      </div>
    </div>
  </div>

 <!-- Seating Selection -->
 <h3 class="text-center">Select Your Seats</h3>
 <div class="row" *ngFor="let row of getRange(theatre.numberOfRows)">
   <div class="seat" *ngFor="let seatNumber of getRange(theatre.numberOfColumns)"
        [ngClass]="{'selected': isSeatSelected(row, seatNumber), 'booked': isSeatBooked(row, seatNumber)}"
        (click)="toggleSeat(row, seatNumber)">
   </div>
 </div>
 <div>
   <h2 class="text-center">Screen This Way</h2>
   <p>Selected Seats: {{ selectedSeats.join(',') }}</p>
 </div>
 <!-- Book Button -->
 <button class="btn btn-primary" (click)="confirmBooking()">Book</button>
</div>
<br><br>